{
  "comments": false,
  "env": {
    "main": {
    },
    "renderer": {
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },
    "plugins": ["transform-runtime"]
  }
}
