{
  "comments": false,
  "env": {
    "main": {
    },
    "renderer": {
      "plugins": [
        [
          "component",
          [
            {
              "libraryName": "element-ui",
              "styleLibraryName": "theme-default"
            }
          ]
        ]
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },
    "plugins": ["transform-runtime"]
  }
}
